body {
    font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin: 10px 30px 20px 30px;
    background: linear-gradient(-90deg, #f3f3f3, #ebebeb);
    max-height: 100%;
}


/*   Blocks   */
.intro {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 -15px 0;
}

.contact-info,
.skills,
.explist,
.social {
    padding: 20px 40px;
}

.intro,
.contact-info,
.skills,
.explist,
.social {
    border-radius: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
}

.contact-info {
    display: grid;
    grid-template-columns: 30px 200px;
}

.link-facebook,
.link-twitter,
.link-linkedin,
.link-github {
    display: grid;
    grid-template-columns: 30px 200px;
    font-weight: 500;
    text-decoration: none;
    color: #2F5A78;
}

/*   Fonts   */

.intro__heading {
    /* This is a comment */
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;

}

.subheading {
    font-size: 20px;
    font-weight: bolder;
    font-variant: normal;
    text-transform: uppercase;
    margin: 10px 0 5px 40px;
}

.prof {
    font-size: 20px;
    font-weight: lighter;
}

.contactinfo {
    font-size: 16px;
}

/*   Experience/Education   */
.explist__date {
    font-size: 16px;
    font-weight: bold;
}

.explist__job-title {
    font-weight: bold;
}

.explist__job-description {
    white-space: preline;
}



/*   Colors   */

/*Backgrounds-div*/
.intro {
    /*background-color: #2F5A78;*/
    background: linear-gradient(-45deg, #0F2027, #203A43, #2C5364);
}

.skills,
.social {
    /*background-color: aliceblue;*/
    background: linear-gradient(-45deg, #7F7FD5, #86A8E7, #91EAE4);
}

.contact-info,
.explist {
    background: linear-gradient(-45deg, #1f4037, #99f2c8);
    /*background-color: #eeeeee;*/
}

/*Fonts color*/
.intro {
    color: white;
}

.intro__heading {
    font-size: 40px;
}

.explist__date,
.subheading,
.social__icon,
.contact-info__icon {
    color: #2F5A78;
}

.social__text-for-icon,
.contact-info__data {
    display: inline-block;
    color: #000000;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.social__text-for-icon:hover {
    background: white;
}


/*   Skills Section   */
.skills ul li {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
}

.skills ul li .skills__prog {
    width: 60%;
    height: 5px;
    position: relative;
}

.skills ul li .skills__prog span {
    position: absolute;
    height: 100%;
    background: #2F5A78;
    padding-right: 50px;

}

.skills__name {
    font-weight: bold;
    width: 4px;
}

.skills__per {
    font-weight: bold;
    margin-right: 15px;
}

.skills ul {
    padding-left: 16px;
}